<!DOCTYPE html>
<html>
<head>
  <title>WEB page</title>
  <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
</head>
<body style="background-color: #353535;">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 outside-terminal">
        <a href="/"><span>CODE</span><span style="color: red">BREAKER</span></a>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10  terminal-div">
        <div class="terminal">
          <p>Hello. This is the web interface for codebreaker gem.</p>
          <p>If you want to play press <a class='start_from_index' onclick="start_game()">'/start'</a></p>
          <span id="terminal-bash">codebreaker:$ </span><form><input type="text" id="main-input"></form>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">

      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>